.history/
.vscode/
build/
devel/
log/
debug/
.catkin_workspace
.catkin_tools/
CATKIN_IGNORE
__pycache__/
*.jpg
*.png
*.pth
model_ckpt/
*.pyc
*.mp4
*.avi
*.gif
*.tar*
*.engine
*.bag
*.pcd
scripts/control_bag_test.sh
logs
build
devel
data
bag
compile_commands.json
.cache
bag2/
src/CMakeLists.txt
