<?xml version="1.0"?>
<robot name="target_behind">
  <!-- color map -->
  <material name="red">
    <color rgba="1 0 0 0.5" />
  </material>
  <material name="black">
    <color rgba="1 0 1 1" />
  </material>
  <material name="white">
    <color rgba="1 1 1 1" />
  </material>
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>
  <!-- draw vehicle body -->
  <link name="behind">
    <!-- vehicle body -->
    <visual>
      <geometry>
        <mesh filename="package://part_based_tracking/../mesh/BaojunE100/BaojunE100.dae" />
      </geometry>
      <material name="white"/>
      <origin rpy="0 0 1.57" xyz="0.7 0 0"/>
    </visual>
  </link>

</robot>