<launch>
    <node pkg="localization_pipeline" type="localization" name="localization" output="screen">
      <param name="command_no_gps" type="bool" value = "false"/>
      <param name="localization_debug" type="bool" value = "false"/>
      <param name="slam_err_fix" type="double" value = "0.2"/>
      <param name="slam_err_normal" type="double" value = "1.0"/>
      <param name="slam_yaw_err_fix" type="double" value = "0.035"/>
      <param name="slam_yaw_err_normal" type="double" value = "0.087"/>
      <param name="slam_fix_param" type="double" value = "0.3"/>
      <param name="slam_error_param" type="double" value = "0.2"/>
      <param name="speed_err" type="double" value = "0.001"/>
    </node>
</launch>
